{
  "http_interactions": [
    {
      "request": {
        "method": "post",
        "uri": "https://auth.riotgames.com/api/v1/authorization",
        "body": {
          "encoding": "UTF-8",
          "string": "{\"nonce\":\"1\",\"client_id\":\"play-valorant-web-prod\",\"redirect_uri\":\"https://playvalorant.com/opt_in\",\"response_type\":\"token id_token\"}"
        },
        "headers": {
          "Content-Type": ["application/json"]
        }
      },
      "response": {
        "status": {
          "code": 200,
          "message": "OK"
        },
        "headers": {
          "Content-Type": ["application/json; charset=utf-8"],
          "Etag": ["W/\"1f-YDrzkZDFynr/UugAD0CjFX4MZHA\""],
          "Surrogate-Control": ["no-store"],
          "X-Riotgames-Cdn": ["Cloudflare"]
        },
        "body": {
          "encoding": "UTF-8",
          "string": "{\"type\":\"auth\",\"country\":\"pol\"}"
        }
      },
      "recorded_at": "Fri, 28 Jan 2022 23:25:12 GMT"
    },
    {
      "request": {
        "method": "put",
        "uri": "https://auth.riotgames.com/api/v1/authorization",
        "body": {
          "encoding": "UTF-8",
          "string": "{\"type\":\"auth\",\"username\":\"xxxxx\",\"password\":\"xxxxx\"}"
        },
        "headers": {
          "Content-Type": ["application/json"]
        }
      },
      "response": {
        "status": {
          "code": 200,
          "message": "OK"
        },
        "headers": {
          "Content-Type": ["application/json; charset=utf-8"],
          "Etag": ["W/\"577-6lxnlkEmmg2+CbF/hy4hEgbhPqM\""],
          "Surrogate-Control": ["no-store"],
          "X-Riotgames-Cdn": ["Cloudflare"]
        },
        "body": {
          "encoding": "ASCII-8BIT",
          "string": "{\"type\":\"response\",\"response\":{\"mode\":\"fragment\",\"parameters\":{\"uri\":\"https://playvalorant.com/opt_in#access_token=xxxxx&scope=openid&iss=https%3A%2F%2Fauth.riotgames.com&id_token=xxxxx&token_type=Bearer&session_state=yRySr1jVDGX8RwPQM317R_GP7UAFNjqB5CeYjKH7W58.wD4NWOlrASbfPZZQTWCqHg&expires_in=3600\"}},\"country\":\"pol\"}"
        }
      },
      "recorded_at": "Fri, 28 Jan 2022 23:25:13 GMT"
    }
  ],
  "recorded_with": "VCR 6.0.0"
}
