{
  "http_interactions": [
    {
      "request": {
        "method": "post",
        "uri": "https://auth.riotgames.com/api/v1/authorization",
        "body": {
          "encoding": "UTF-8",
          "string": "{\"nonce\":\"1\",\"client_id\":\"play-valorant-web-prod\",\"redirect_uri\":\"https://playvalorant.com/opt_in\",\"response_type\":\"token id_token\"}"
        },
        "headers": {
          "Content-Type": ["application/json"]
        }
      },
      "response": {
        "status": {
          "code": 200,
          "message": "OK"
        },
        "headers": {
          "Content-Type": ["application/json; charset=utf-8"],
          "Etag": ["W/\"1f-YDrzkZDFynr/UugAD0CjFX4MZHA\""],
          "Surrogate-Control": ["no-store"],
          "X-Riotgames-Cdn": ["Cloudflare"]
        },
        "body": {
          "encoding": "UTF-8",
          "string": "{\"type\":\"auth\",\"country\":\"pol\"}"
        }
      },
      "recorded_at": "Fri, 28 Jan 2022 23:25:12 GMT"
    },
    {
      "request": {
        "method": "put",
        "uri": "https://auth.riotgames.com/api/v1/authorization",
        "body": {
          "encoding": "UTF-8",
          "string": "{\"type\":\"auth\",\"username\":\"xxxxx\",\"password\":\"xxxxx\"}"
        },
        "headers": {
          "Content-Type": ["application/json"]
        }
      },
      "response": {
        "status": {
          "code": 200,
          "message": "OK"
        },
        "headers": {
          "Content-Type": ["application/json; charset=utf-8"],
          "Etag": ["W/\"577-6lxnlkEmmg2+CbF/hy4hEgbhPqM\""],
          "Surrogate-Control": ["no-store"],
          "X-Riotgames-Cdn": ["Cloudflare"]
        },
        "body": {
          "encoding": "ASCII-8BIT",
          "string": "{\"type\":\"response\",\"response\":{\"mode\":\"fragment\",\"parameters\":{\"uri\":\"https://playvalorant.com/opt_in#access_token=xxxxx&scope=openid&iss=https%3A%2F%2Fauth.riotgames.com&id_token=xxxxx&token_type=Bearer&session_state=yRySr1jVDGX8RwPQM317R_GP7UAFNjqB5CeYjKH7W58.wD4NWOlrASbfPZZQTWCqHg&expires_in=3600\"}},\"country\":\"pol\"}"
        }
      },
      "recorded_at": "Fri, 28 Jan 2022 23:25:13 GMT"
    },
    {
      "request": {
        "method": "post",
        "uri": "https://entitlements.auth.riotgames.com/api/token/v1",
        "body": {
          "encoding": "UTF-8",
          "string": "{}"
        },
        "headers": {
          "Authorization": ["Bearer xxxxx"],
          "Content-Type": ["application/json"]
        }
      },
      "response": {
        "status": {
          "code": 200,
          "message": "OK"
        },
        "headers": {
          "Content-Type": ["application/json"],
          "X-Riotgames-Cdn": ["Cloudflare"]
        },
        "body": {
          "encoding": "ASCII-8BIT",
          "string": "{\"entitlements_token\":\"xxxxx\"}"
        }
      },
      "recorded_at": "Fri, 28 Jan 2022 23:25:13 GMT"
    },
    {
      "request": {
        "method": "get",
        "uri": "https://auth.riotgames.com/userinfo",
        "body": {
          "encoding": "US-ASCII",
          "string": ""
        },
        "headers": {
          "Authorization": ["Bearer xxxxx"]
        }
      },
      "response": {
        "status": {
          "code": 200,
          "message": "OK"
        },
        "headers": {
          "Content-Type": ["application/json; charset=utf-8"],
          "Etag": ["W/\"42-lDJ5nQQp67c1ZHfrJE1Jx2SByLM\""],
          "Surrogate-Control": ["no-store"],
          "X-Fapi-Interaction-Id": ["d69054dc-2da8-4f32-9b63-b01fc67f5444"],
          "X-Riotgames-Cdn": ["Cloudflare"]
        },
        "body": {
          "encoding": "ASCII-8BIT",
          "string": "{\"sub\":\"xxxxx\",\"jti\":\"_QVmGR2ZTII\"}"
        }
      },
      "recorded_at": "Fri, 28 Jan 2022 23:25:14 GMT"
    },
    {
      "request": {
        "method": "get",
        "uri": "https://pd.xxxxx.a.pvp.net/store/v2/storefront/xxxxx",
        "body": {
          "encoding": "US-ASCII",
          "string": ""
        },
        "headers": {
          "Authorization": ["Bearer xxxxx"],
          "X-Riot-Entitlements-Jwt": ["xxxxx"]
        }
      },
      "response": {
        "status": {
          "code": 200,
          "message": "OK"
        },
        "headers": {
          "Content-Type": ["application/json"]
        },
        "body": {
          "encoding": "ASCII-8BIT",
          "string": "{\"FeaturedBundle\":{\"Bundle\":{\"ID\":\"66def9e4-cea3-4315-87b5-1a0d3859cee5\",\"DataAssetID\":\"ab83f73d-485f-e010-8ea0-24b538468a1a\",\"CurrencyID\":\"85ad13f7-3d1b-5128-9eb2-7cd8ee0b5741\",\"Items\":[{\"Item\":{\"ItemTypeID\":\"dd3bf334-87f3-40bd-b043-682a57a8dc3a\",\"ItemID\":\"6607dba5-4cb8-d860-3010-708bcbcbe808\",\"Amount\":2},\"BasePrice\":475,\"CurrencyID\":\"85ad13f7-3d1b-5128-9eb2-7cd8ee0b5741\",\"DiscountPercent\":1,\"DiscountedPrice\":0,\"IsPromoItem\":false},{\"Item\":{\"ItemTypeID\":\"3f296c07-64c3-494c-923b-fe692a4fa1bd\",\"ItemID\":\"66554177-4970-fea5-22d2-c0bd8514888c\",\"Amount\":1},\"BasePrice\":375,\"CurrencyID\":\"85ad13f7-3d1b-5128-9eb2-7cd8ee0b5741\",\"DiscountPercent\":1,\"DiscountedPrice\":0,\"IsPromoItem\":false},{\"Item\":{\"ItemTypeID\":\"d5f120f8-ff8c-4aac-92ea-f2b5acbe9475\",\"ItemID\":\"e428e9d5-4912-ffac-031b-f293375cd14d\",\"Amount\":1},\"BasePrice\":325,\"CurrencyID\":\"85ad13f7-3d1b-5128-9eb2-7cd8ee0b5741\",\"DiscountPe[...]
