{
  "http_interactions": [
    {
      "request": {
        "method": "post",
        "uri": "https://auth.riotgames.com/api/v1/authorization",
        "body": {
          "encoding": "UTF-8",
          "string": "{\"nonce\":\"1\",\"client_id\":\"play-valorant-web-prod\",\"redirect_uri\":\"https://playvalorant.com/opt_in\",\"response_type\":\"token id_token\"}"
        },
        "headers": {
          "Content-Type": ["application/json"]
        }
      },
      "response": {
        "status": {
          "code": 200,
          "message": "OK"
        },
        "headers": {
          "Content-Type": ["application/json; charset=utf-8"],
          "Etag": ["W/\"1f-YDrzkZDFynr/UugAD0CjFX4MZHA\""],
          "Surrogate-Control": ["no-store"],
          "X-Riotgames-Cdn": ["Cloudflare"]
        },
        "body": {
          "encoding": "UTF-8",
          "string": "{\"type\":\"auth\",\"country\":\"pol\"}"
        }
      },
      "recorded_at": "Fri, 28 Jan 2022 23:50:39 GMT"
    },
    {
      "request": {
        "method": "put",
        "uri": "https://auth.riotgames.com/api/v1/authorization",
        "body": {
          "encoding": "UTF-8",
          "string": "{\"type\":\"auth\",\"username\":\"xxxxx\",\"password\":\"xxxxx\"}"
        },
        "headers": {
          "Content-Type": ["application/json"]
        }
      },
      "response": {
        "status": {
          "code": 200,
          "message": "OK"
        },
        "headers": {
          "Content-Type": ["application/json; charset=utf-8"],
          "Etag": ["W/\"36-jVvNit+bu8mF/pWP3WA5UcpXego\""],
          "Surrogate-Control": ["no-store"],
          "X-Riotgames-Cdn": ["Cloudflare"]
        },
        "body": {
          "encoding": "ASCII-8BIT",
          "string": "{\"type\":\"auth\",\"error\":\"auth_failure\",\"country\":\"pol\"}"
        }
      },
      "recorded_at": "Fri, 28 Jan 2022 23:50:40 GMT"
    }
  ],
  "recorded_with": "VCR 6.0.0"
}
